### Imports

In [32]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField
from pyspark.sql.types import StringType, IntegerType
from pyspark.sql import functions

In [33]:
spark = SparkSession \
    .builder \
    .appName("Lab7") \
    .getOrCreate()

context = spark.sparkContext

### Reading employees into the dataframe

In [34]:
schema = StructType([
    StructField("emp_id", StringType(), False),
    StructField("fname", StringType(), True),
    StructField("lname", StringType(), True),
    StructField("address", StringType(), True),
    StructField("city", StringType(), True),
    StructField("state", StringType(), True),
    StructField("zipcode", StringType(), True),
    StructField("job_title", StringType(), True),
    StructField("email", StringType(), True),
    StructField("active", StringType(), True),
    StructField("salary", IntegerType(), True),
])

df = spark.read.format("csv") \
    .option("sep", "\t") \
    .option("header", True) \
    .schema(schema) \
    .load("./data/employees.txt")

df.createOrReplaceTempView("employees")

In [35]:
df.show()

+---------+--------+---------+--------------------+----------------+-----+-------+------------------+--------------------+------+------+
|   emp_id|   fname|    lname|             address|            city|state|zipcode|         job_title|               email|active|salary|
+---------+--------+---------+--------------------+----------------+-----+-------+------------------+--------------------+------+------+
|AA1130960|     Amy|   Alicea|    2472 25th Street|          Fulton|   KY|  42041|   Sales Associate|aa1130960@example...|     Y| 22329|
|AA1146303|    Anna|   Atkins|4640 East 10th St...|   Scotts Valley|   CA|  95066| Assistant Manager|aa1146303@example...|     Y| 99645|
|AA1154964|   Annie|Albritton|4444 West 14th St...|          Thorpe|   WV|  24888|   Sales Associate|aa1154964@example...|     Y| 26717|
|AA1352280| Antoine|  Aguirre|3293 West 2nd Street|          Mobile|   AL|  36630|   Sales Associate|aa1352280@example...|     Y| 26078|
|AA1411429|  Arthur| Andersen|    4216 21st Street|          Canton|   MS|  39046|           Cashier|aa1411429@example...|     Y| 17486|
|AA1418885|  Amanda| Atkinson|    1863 13th Street|        Stockton|   CA|  95207|   Sales Associate|aa1418885@example...|     Y| 22278|
|AA1510726|     Ann|    Askew|25406 West 12th S...|       Webbville|   KY|  41180|      Merchandiser|aa1510726@example...|     Y| 17220|
|AA1567042|    Anne|  Almonte|4950 North 8th St...|     Springville|   CA|  93265|           Cashier|aa1567042@example...|     Y| 18566|
|AA1609979| Anthony|    Allen|25241 North 2nd S...|          Aspers|   PA|  17304|           Cashier|aa1609979@example...|     Y| 20575|
|AA1636177| Anthony|  Aguilar|    4885 Carter Road|           Peetz|   CO|  80747|   Sales Associate|aa1636177@example...|     Y| 25262|
|AA1664455|     Amy|  Arriaga|4100 East 8th Street|Franklin Springs|   NY|  13341|   Sales Associate|aa1664455@example...|     Y| 21271|
|AA1881657|Angelica| Atkinson|784 West 14th Street|      Sacramento|   CA|  94247|   Sales Associate|aa1881657@example...|     Y| 25081|
|AA1887065|   Alice|   Adorno|2612 West 17th St...|      Carrollton|   OH|  44615|   Sales Associate|aa1887065@example...|     Y| 27093|
|AA1890776|   Alisa|    Asher|2116 East Victori...|           Price|   UT|  84501|   Sales Associate|aa1890776@example...|     Y| 24519|
|AA2028155|  Albert|  Arevalo|8474 East Oak Bou...|        San Jose|   CA|  95160|   Sales Associate|aa2028155@example...|     Y| 26406|
|AA2052636|  Albert|    Ayala|33878 East 17th S...|         Oakland|   CA|  94626|   Sales Associate|aa2052636@example...|     Y| 25970|
|AA2055666|  Andrea|Alexander|3577 North 18th S...|   Castro Valley|   CA|  94552|           Cashier|aa2055666@example...|     Y| 21738|
|AA2201561|     Amy|   Alaniz|868 East 12th Street|      Trout Lake|   WA|  98650|Maintenance Worker|aa2201561@example...|     Y| 23898|
|AA2259449|   Annie|     Ault|13490 North 16th ...|      Middletown|   OH|  45043|           Cashier|aa2259449@example...|     Y| 16704|
|AA2334286|    Adam|     Ault|1761 West 22nd St...|           Uriah|   AL|  36480|   Sales Associate|aa2334286@example...|     Y| 23146|
+---------+--------+---------+--------------------+----------------+-----+-------+------------------+--------------------+------+------+
only showing top 20 rows

### Exercise 1

#### Dataframe API/DSL

In [36]:
df.orderBy(functions.col("fname").asc(), functions.col("lname").desc()).limit(5).show()

+---------+-----+-------+--------------------+-----------+-----+-------+------------------+--------------------+------+------+
|   emp_id|fname|  lname|             address|       city|state|zipcode|         job_title|               email|active|salary|
+---------+-----+-------+--------------------+-----------+-----+-------+------------------+--------------------+------+------+
|AW2136153|Aaron|  Woody|      131 7th Street|     Mantua|   NJ|  08051|   Sales Associate|aw2136153@example...|     Y| 22164|
|AW1399370|Aaron|   Weil|4587 East 21st St...| Sacramento|   CA|  94232|           Cashier|aw1399370@example...|     Y| 17208|
|AW1743700|Aaron| Waters|32887 West 4th St...|      Ocala|   FL|  34475|   Sales Associate|aw1743700@example...|     Y| 20026|
|AV5801330|Aaron|Vincent|8714 North Foster...|  San Mateo|   CA|  94405|   Sales Associate|av5801330@example...|     Y| 28575|
|AV3024299|Aaron|Velasco|21925 West 7th St...|Watsonville|   CA|  95077|Maintenance Worker|av3024299@example...|     Y| 25779|
+---------+-----+-------+--------------------+-----------+-----+-------+------------------+--------------------+------+------+

#### SQL Language

In [37]:
spark.sql("SELECT * FROM employees ORDER BY fname ASC, lname DESC").show()

+---------+-----+---------+--------------------+------------+-----+-------+--------------------+--------------------+------+------+
|   emp_id|fname|    lname|             address|        city|state|zipcode|           job_title|               email|active|salary|
+---------+-----+---------+--------------------+------------+-----+-------+--------------------+--------------------+------+------+
|AW2136153|Aaron|    Woody|      131 7th Street|      Mantua|   NJ|  08051|     Sales Associate|aw2136153@example...|     Y| 22164|
|AW1399370|Aaron|     Weil|4587 East 21st St...|  Sacramento|   CA|  94232|             Cashier|aw1399370@example...|     Y| 17208|
|AW1743700|Aaron|   Waters|32887 West 4th St...|       Ocala|   FL|  34475|     Sales Associate|aw1743700@example...|     Y| 20026|
|AV5801330|Aaron|  Vincent|8714 North Foster...|   San Mateo|   CA|  94405|     Sales Associate|av5801330@example...|     Y| 28575|
|AV8865900|Aaron|  Velasco|3484 West 10th St...| Hustonville|   KY|  40437|             Cashier|av8865900@example...|     Y| 20644|
|AV3024299|Aaron|  Velasco|21925 West 7th St...| Watsonville|   CA|  95077|  Maintenance Worker|av3024299@example...|     Y| 25779|
|AU6941391|Aaron|Underwood|3284 West 16th St...|  Charleston|   WV|  25333|             Cashier|au6941391@example...|     Y| 17541|
|AU8988610|Aaron|Underwood|1118 East Spruce ...|     Topmost|   KY|  41862|     Sales Associate|au8988610@example...|     Y| 19209|
|AT2896510|Aaron|    Towne|820 West Augusta ...|      Draper|   UT|  84020|Loss Prevention S...|at2896510@example...|     Y| 17757|
|AT5747382|Aaron|   Torrey|3839 North 14th S...|      Linden|   CA|  95236|     Sales Associate|at5747382@example...|     Y| 30593|
|AT3090784|Aaron|  Thomson|  1064 Gaston Avenue|    San Jose|   CA|  95103|     Sales Associate|at3090784@example...|     Y| 26182|
|AT5295847|Aaron|   Thomas|6347 North Genevi...|       Avoca|   NY|  14809|     Sales Associate|at5295847@example...|     Y| 21245|
|AT9685212|Aaron|  Terrell|     1096 Ellis Road| Laytonville|   CA|  95454|     Sales Associate|at9685212@example...|     Y| 29517|
|AT7454895|Aaron|  Terrell|4713 East 5th Street|Union Church|   MS|  39668|     Sales Associate|at7454895@example...|     Y| 24238|
|AS5859169|Aaron|    Swink|2482 West 20th St...|  Sacramento|   CA|  94296|             Cashier|as5859169@example...|     Y| 21349|
|AS4985712|Aaron|   Summer|4057 West 21st St...|    Calpella|   CA|  95418|     Sales Associate|as4985712@example...|     Y| 22955|
|AS4882839|Aaron|   Summer|2278 East 2nd Street|      Yakima|   WA|  98909|     Sales Associate|as4882839@example...|     Y| 23876|
|AS8727826|Aaron| Streeter|21949 North 5th S...| Los Angeles|   CA|  90044|       Store Manager|as8727826@example...|     Y| 61740|
|AS6106095|Aaron|     Soto|19602 West 21st S...|       Alamo|   GA|  30411|             Cashier|as6106095@example...|     Y| 17394|
|AS3741902|Aaron|    Sloan|377 West Turner B...|  Huntington|   WV|  25723|             Cashier|as3741902@example...|     Y| 16364|
+---------+-----+---------+--------------------+------------+-----+-------+--------------------+--------------------+------+------+
only showing top 20 rows

### Exercise 2

#### Dataframe API/DSL

In [40]:
df.select("job_title").distinct().count()

76

#### SQL Language

In [46]:
spark.sql("SELECT COUNT(DISTINCT job_title) as Count FROM employees").show()

+-----+
|Count|
+-----+
|   76|
+-----+

### Exercise 3

#### Dataframe API/DSL

In [30]:
df.groupBy("job_title").agg(
        functions.count_distinct("emp_id").alias("# Employees"),
        functions.avg("salary").alias("Average Salary")
    ).show()

+--------------------+-----------+------------------+
|           job_title|# Employees|    Average Salary|
+--------------------+-----------+------------------+
|           President|          1|         3500000.0|
|Information Secur...|          7| 81376.85714285714|
|       Store Manager|        703| 47178.45234708393|
|      Fraud Examiner|          2|           67878.0|
|Business Intellig...|         13| 91869.92307692308|
|          Landscaper|         62| 27045.08064516129|
|      Vice President|         13|166443.38461538462|
|     Sales Associate|      39747|24276.333660402044|
|      Security Guard|        745|19270.107382550337|
|System Administrator|         32|       95883.21875|
|  Maintenance Worker|        730|25736.098630136985|
|                 CTO|          1|          695000.0|
|Investor Relation...|          1|           33500.0|
|             Cashier|      13621| 19582.02532853682|
|            Director|         23|135962.47826086957|
|   Marketing Manager|          1|           51216.0|
|           Carpenter|          2|           44012.5|
|     Project Manager|         67|  78749.5671641791|
|              Driver|        111|31291.171171171172|
|Labor Relations S...|          2|           47021.5|
+--------------------+-----------+------------------+
only showing top 20 rows

#### SQL Language

In [51]:
spark.sql("SELECT job_title, COUNT(DISTINCT emp_id) AS EmployeesCount, \
     AVG(salary) AS AverageSalary FROM employees GROUP BY job_title").show()

+--------------------+--------------+------------------+
|           job_title|EmployeesCount|     AverageSalary|
+--------------------+--------------+------------------+
|           President|             1|         3500000.0|
|Information Secur...|             7| 81376.85714285714|
|       Store Manager|           703| 47178.45234708393|
|      Fraud Examiner|             2|           67878.0|
|Business Intellig...|            13| 91869.92307692308|
|          Landscaper|            62| 27045.08064516129|
|      Vice President|            13|166443.38461538462|
|     Sales Associate|         39747|24276.333660402044|
|      Security Guard|           745|19270.107382550337|
|System Administrator|            32|       95883.21875|
|  Maintenance Worker|           730|25736.098630136985|
|                 CTO|             1|          695000.0|
|Investor Relation...|             1|           33500.0|
|             Cashier|         13621| 19582.02532853682|
|            Director|            23|135962.47826086957|
|   Marketing Manager|             1|           51216.0|
|           Carpenter|             2|           44012.5|
|     Project Manager|            67|  78749.5671641791|
|              Driver|           111|31291.171171171172|
|Labor Relations S...|             2|           47021.5|
+--------------------+--------------+------------------+
only showing top 20 rows